.reset-btn {
    background-color: #354A8D;
    border-radius: 5.333vw;
    width:42.400vw;
    height: 14.933vw;
    margin-left: 29.333vw;
    margin-top: 10vw;
    text-align: center;
    color: #FAF9F9;
    box-shadow: 0px 3px 6px #18787350;
    font-size: 5.333vw;
    padding: 2.667vw;
  }