
.nav-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: space-between;
    background-color: #354A8D;
    height: 16vw;
  }
  .nav-icons {
    width: 33%;
    font-size: 200%;
    color: #FAF9F9;
    margin-top: 2vh;
  }