.nav-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  background-color: #354a8d;
  height: 16vw;
}
.nav-icons {
  width: 33%;
  font-size: 200%;
  color: #faf9f9;
  margin-top: 2vh;
}
