.name-label{
    font-size: 4vw;
    margin-top: 2vw;
    margin-left: 19.733vw;
    color:#312A45;
    display: block;
  }

.another-label{
  font-size: 4vw;
  margin-top: 6vw;
  margin-left: 19.733vw;
  color:#312A45;
  display: block;
}

.another-input{
  display: block;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #354A8D;
  margin-top: 1vh;
  margin-left: 19.733vw;
  width: 60.800vw;
}

.second-register-btn {
  background-color: #354A8D;
  border-radius: 5.333vw;
  width:42.400vw;
  height: 14.933vw;
  margin-left: 29.333vw;
  margin-top: 8vw;
  text-align: center;
  color: #FAF9F9;
  box-shadow: 0px 3px 6px #18787350;
  font-size: 5.333vw;
  padding: 2.667vw;
}

.login-link{
    text-align: center;
    margin-top: 4vw;
    font-size: 5.333vw;
    color:#354A8D;
    display: block;
    flex-direction: column;
    padding: 15px;
}
  
  