@import "~bootstrap/scss/bootstrap";

.nav-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid black;
}
.nav-icons {
  width: 33%;
  font-size: 300%;
  color: black;
}
.App-header {
  color: red;
  background-color: green;
  width: 100%;
}
.input-container {
  position: absolute;
  width: 100%;
}
.project-form {
  margin-top: 5%;
}
.project-input {
  width: 80%;
  padding: 5%;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: 2.5%;
  background: #f0f0f0;
}
.project-input::placeholder {
  font-size: 150%;
}
.project-submit {
  padding: 5%;
  width: 14%;
  border: none;
  color: white;
  background: gray;
  margin-left: -8%;
  border-radius: 15px;
  position: absolute;
}
.submit-icon {
  font-size: 250%;
}
.logo {
  font-size: 22.667vw;
  color: #312A45;
  font-weight: bold;
  font-family: 'Segoe UI';
  margin-left: 2.667vw;
  text-align: center;
  margin-top: 12.800vw;
}
.login-btn {
  background-color: #354A8D;
  border-radius: 5.333vw;
  width:42.400vw;
  height: 14.933vw;
  margin-left: 29.333vw;
  margin-top: 33.867vw;
  text-align: center;
  color: #FAF9F9;
  box-shadow: 0px 3px 6px #18787350;
  font-size: 5.333vw;
  padding: 2.667vw;
}

.register-btn {
  background-color: #354A8D;
  border-radius: 5.333vw;
  width:42.400vw;
  height: 14.933vw;
  margin-left: 29.333vw;
  color: #FAF9F9;
  text-align: center;
  box-shadow: 0px 3px 6px #18787350;
  font-size: 5.333vw;
  padding: 2.667vw;
}

.or{
  font-size: 5.333vw;
  text-align: center;
  margin-top: 10.933vw;
  margin-left:46.133vw;
  position: absolute;
}

.left-rectangle{
  width: 10.667vw;
  height: 0.800vw;
  background-color: #354A8D;
  box-shadow: 0px 3px 6px #18787350;
  margin-top: 14.933vw;
  position: absolute;
  margin-left:29.867vw;
}

.right-rectangle{
  position: absolute;
  width: 10.667vw;
  height: 0.800vw;
  background-color: #354A8D;
  box-shadow: 0px 3px 6px #18787350;
  margin-top: 14.933vw;
  margin-left: 59.733vw;
  
}

.google-style{
  position: absolute;
  width: 13.333vw;
  height: 13.333vw;
  margin-left: 29.867vw;
  margin-top: 26.933vw;
}

.fb-style{
  position: absolute;
  width: 13.333vw;
  height: 13.333vw;
  margin-left: 57.600vw;
  margin-top: 26.933vw;
}
 
.label{
  font-size: 4vw;
  margin-top: 12.294vw;
  margin-left: 19.733vw;
  color:#312A45;
  display: block;
}

.input{
  display: block;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #354A8D;
  margin-top: 2.9985007496251876vh;
  margin-left: 19.733vw;
}

.input-container{
  display: block;
  flex-direction: column;
  background-color:  #Fff;
}

.checkbox{
  display: block;
  flex-direction: column;
}